<h1>Data-Binding</h1>

<p>Process of interaction between HTML and CSS files of the components</p>

<br/><hr>

<h2>1.One way Data-Binding</h2> <br />

<h3>* String interaction</h3>

{{fullname}}



<br/><hr>
<h3>* Property-Binding</h3>

{{num}}
<br />
<br/>

<button [disabled] = !enabled>Click</button>

<br/><hr>

<h3>*Event-Binding</h3>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ipsam iure voluptatum numquam accusamus accusantium, quam vel fugit nisi. Quisquam.</p>

<button (click)="clickedme('Ankita')">Clicked</button>

<hr><hr>


<app-one-way-data-binding></app-one-way-data-binding>

<hr><hr>

<app-two-way-binding></app-two-way-binding>

<hr><hr>

<app-friends></app-friends>
